<h1>Need a reason to drink?</h1>
<p>Keep track of all of your reasons to drink and access them when needed:</p>
<p>Enter a new reason:</p>
<form action= "/reasons" method="post">
  <label for = "description">Description</label>
  <input id ="description" description = "description" type = "text">
  <button>Add Reason!</button>
</form>
